---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Create ingredient">
  <div class="mx-20 flex flex-col items-center gap-2">
    <h1>Add ingredient</h1>
    <form action="/api/ingredients/create" method="post" class="flex flex-col items-center gap-2">
      <input name="name" type="text" placeholder="Name" />
      <div class="grid grid-cols-2 gap-2">
        <input name="amount" type="number" placeholder="Amount" />
        <input name="unit" type="text" placeholder="Unit" />
        <input name="calories" type="number" placeholder="Calories" />
        <input name="expr_date" type="date" placeholder="Expiration date" />
      </div>
      <input type="submit" />
    </form>
  </div>
</Layout>
