---
import { db } from '../../lib/db';
import { Icon } from 'astro-icon/components';

let items = await db.ingredient.findMany({
  include: {
    ingredientInfo: true,
  },
});
---

<div class="flex flex-col items-center gap-2">
  {
    items.map((i) => (
      <div class="flex w-64 flex-row justify-between gap-4 bg-slate-400 p-4">
        <p class="self-center">{i.ingredientInfo?.name}</p>
        <div class="flex flex-row gap-2 rounded-md border-2 border-solid border-red-400 p-2">
          <div
            id="archive"
            class="rounded-md border-2 border-solid border-blue-300 p-2"
            data-id={i.id}>
            <Icon name="mdi:archive" />
          </div>
          <div
            id="delete"
            class="rounded-md border-2 border-solid border-blue-300 p-2"
            data-id={i.id}>
            <Icon name="mdi:trash" />
          </div>
        </div>
      </div>
    ))
  }
</div>
